.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    text-decoration: none;
    height: 60px;
    z-index: 99999;
    background-color: #000B33;
}
.navbarWrapper{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navbarLogo{
    padding: 26px 0px 10px;
    margin-right: 50px;
}
.navbarLogo img{
  width: 185px;
  height: 26px;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;  
} 

.navContainer{
    position: relative;
    padding-top: 20px;
}
.navbarMenu{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
    list-style: none;
}
.navbarlist{
    width: 116px;
    color: rgb(130, 142, 168);
    font-size: 14px;
    font-weight: 500;
}

.navbarlist:hover{
    color: white;    
}
.navbarlist:hover> .navbarlistlist{
    display: block;
    
}
.navbarlistlist{
    display: none;
    width: 116px;
    position: absolute;
    background-color: #000B33;
 
    padding-bottom: 30px;
    padding-left: 0px;
    list-style: none;
    color: rgb(130, 142, 168);
    
}
.navbarinner{
    margin-top: 30px;
}
.navbarinner:hover{
    color: white;
}
.navAccount{
    display: flex;
    
    font-size: 14px;
    padding: 30px 0px 10px;

}
.navAccount a{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(130, 142, 168);
}
.navAccount a:hover{
    color: white;
}